<div class="search-form">
  <form method="POST">
    <div class="form-group">
      <label for="search-input">Key</label>
      <input type="text" name="fullname">
      <input type="text" name="age">
      <input type="text" name="q" class="form-control" id="search-input" placeholder="Input">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>